backcall==0.1.0
bsddb3==6.2.5
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
decorator==4.3.0
greenlet==0.4.13
httplib2==0.11.3
idna==2.7
ipython==6.4.0
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.12.1
keepalive==0.5
lark-parser==0.6.3
lxml==4.2.3
memoized==0.3
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psutil==5.4.6
ptyprocess==0.6.0
Pygments==2.2.0
PyLD==1.0.3
pymantic==0.2.1
pyparsing==2.2.0
pyprof2calltree==1.4.3
pytz==2018.5
rdflib==4.2.2
readline==6.2.4.1
requests==2.19.1
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
snakeviz==0.4.2
SPARQLWrapper==1.8.2
tornado==5.0.2
traitlets==4.3.2
urllib3==1.23
vprof==0.37.4
wcwidth==0.1.7
yattag==1.10.0
